service conn_init /system/bin/logwrapper /system/bin/hwaddrs
    class late_start
    user system
    group system wifi
    oneshot

# Running hwaddrs under init is enforcing 0600, we need more
on property:init.svc.conn_init=stopped
    chmod 644 /data/misc/wifi/config
    chmod 644 /data/misc/bdaddr
